.buy-btn{
    background-color: rgb(16, 95, 104);
	border: 1px solid #0d2e30;
	border-radius: 3px;
	color: white;
	font-weight: 500;
	padding: 10px 25px;
}
.buy-btn:hover{
    background-color:#62e17b;
	border: 1px solid rgb(134, 140, 148);
	color: black;

}