.buy-btn{
    background-color: rgb(228, 92, 29);
	border: 1px solid #0d2e30;
	border-radius: 3px;
	color: #231E39;
	font-weight: 500;
	padding: 10px 25px;
}
.buy-btn:hover{
    background-color:#a2d8dc;

}