.family-btn{
    border: 1px solid darkcyan;
    width: 60%;
    padding: 5px;
    font-size: 18px;
    background-color: rgb(223, 65, 37);
    border-radius: 5px;
    color: white;
}
.family-btn:hover{
    background-color: lightgreen;
    color: black;
}
.tour-img img:hover{
    transform: scale(1.05);
    transition: transform 1s ease-in-out;
}